<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senxu.omserver.service.mapper.TInspectiontTacticsMapper">

    <resultMap type="TInspectiontTactics" id="TInspectiontTacticsResult">
        <result property="id"    column="id"    />
        <result property="chanelNum"    column="chanel_num"    />
        <result property="inspectionGroupNum"    column="inspection_group_num"    />
        <result property="enabled"    column="enabled"    />
        <result property="inspectionTime"    column="inspection_time"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="code"    column="code"    />
    </resultMap>

    <sql id="selectTInspectiontTacticsVo">
        select id, chanel_num, inspection_group_num, enabled,inspection_time, begin_time, create_user, create_time,code from t_inspection_tactics
    </sql>

    <select id="selectTInspectiontTacticsList" parameterType="TInspectiontTactics" resultMap="TInspectiontTacticsResult">
        <include refid="selectTInspectiontTacticsVo"/>
        <where>
            <if test="chanelNum != null  and chanelNum != ''"> and chanel_num = #{chanelNum}</if>
            <if test="inspectionGroupNum != null  and inspectionGroupNum != ''">  and inspection_group_num = #{inspectionGroupNum}</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
            <if test="inspectionTime != null  and inspectionTime != ''"> and inspection_time = #{inspectionTime}</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="createTime != null  and createTime != ''"> and create_time = #{createTime}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
        </where>
        order by create_time DESC
    </select>

    <select id="selectTInspectiontTacticsById" parameterType="Long" resultMap="TInspectiontTacticsResult">
        <include refid="selectTInspectiontTacticsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTInspectiontTactics" parameterType="TInspectiontTactics" useGeneratedKeys="true" keyProperty="id">
        insert into t_inspection_tactics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chanelNum != null">chanel_num,</if>
            <if test="inspectionGroupNum != null">inspection_group_num,</if>
            <if test="enabled != null">enabled,</if>
            <if test="inspectionTime != null">inspection_time,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="code != null">code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chanelNum != null">#{chanelNum},</if>
            <if test="inspectionGroupNum != null">#{inspectionGroupNum},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="inspectionTime != null">#{inspectionTime},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="code != null">#{code},</if>
        </trim>
    </insert>

    <update id="updateTInspectiontTactics" parameterType="TInspectiontTactics">
        update t_inspection_tactics
        <trim prefix="SET" suffixOverrides=",">
            <if test="chanelNum != null">chanelNum = #{chanelNum},</if>
            <if test="inspectionGroupNum != null">inspection_group_num = #{inspectionGroupNum},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="inspectionTime != null">inspection_time = #{inspectionTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="code != null">code = #{code},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTInspectiontTacticsById" parameterType="Long">
        delete from t_inspection_tactics where id = #{id}
    </delete>
</mapper>